
<div class="navbar navbar-default navbar-dark bg-dark navbar-fixed-bottom" style="padding: 16px; background-color: #241c1cb3 !important">
        <div class="container  text-center">
            <p class="navbar-text" style="margin-bottom: 0 !important; position: absolute; width: 100%; left: 0; text-align: center; color: white; font-size: 1.2em;">&copy; 2018, Developed By :<a style="color: white; text-decoration:none;" href="http://www.fb.com/umang350"> Umang Chauhan</a></p>
        </div>
</div>