<div class="container" style="margin-bottom: 100px;">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="background-color: black !important">
      <a class="navbar-brand" href="/" style="font-size: 25px">InternDTU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="font-size: 17px">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link hvr-underline-from-center" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
					<li class="nav-item">
            <a class="nav-link hvr-underline-from-center" href="/internships">Internships <span class="sr-only">(current)</span></a>
          </li>
					<li class="nav-item">
            <a class="nav-link hvr-underline-from-center" href="/about">About <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          {% if session.logged_in %}
          <li class="nav-item">
            <a class="nav-link hvr-underline-from-center" href="/dashboard">Dashboard </a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-underline-from-center" href="/logout">Logout </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link hvr-underline-from-center" href="/register">Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-underline-from-center" href="/login">Login </a>
          </li>
          {% endif %}
        </ul>
      </div>
</nav>
</div>
