{% extends 'layout.html' %}

{% block body %}
  
<div class="jumbotron text-center" style="background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.79); color: white">
    <h1 style="color: #0030ff">What is InternDTU?</h1>
    <p class="lead">InternDTU is the first fully equipped Internship Portal Exclusively for Students of Delhi Technological University(formerly Delhi College of Engineering). It is a college specific internship portal where startups can hire interns according to their needs. For Students we are solving the very basic problem of getting internships with quality exposure and in a wide variety of fields. They can also hone their skills according to market’s demand for a skill.</p>
    <h4 style="color: white">Developed By: <h4 class="list-group-item-heading">Umang Chauhan
    <a href="http://www.linkedin.com/in/umang350"><i class="fa fa-linkedin-square" style="color: #004bff; font-size: 30px"> </i></a>
    <a href="http://www.facebook.com/umang350"><i class="fa fa-facebook" style="color: #004bff; font-size: 30px"> </i></a>
	<a href="http://www.twitter.com/umang350"><i class="fa fa-twitter" style="color: #004bff; font-size: 30px"> </i></a>
	</h4></h4>
    <div class="lead" style="padding-top: 46px;">
    	<a href='https://play.google.com/store/apps/details?id=com.ecelldtu.ip'><img alt='Get it on Google Play' style="width: 198px;" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
    	<p style="font-size: 10px">Legal attribution: Google Play and the Google Play logo are trademarks of Google LLC.</p></div>

  </div>
{% endblock %}
