<div style="font-size: 2em; font-family: arial;">
	<strong>You requested that the password for your ECELL DTU Internship Portal (InternDTU) account be reset.
<br>
<br>
	Please click the link below to reset your password:</strong>
<br>
<br>
<br>

<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>

<br>
<br>
<br>
	<a href='https://play.google.com/store/apps/details?id=com.ecelldtu.ip&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><p style="margin: 0; font-size: medium; padding-left: 14px;">Download InternDTU app</p></a>
      <a href='https://play.google.com/store/apps/details?id=com.ecelldtu.ip&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' style="width: 198px;" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
<br>
<br>
For any queries email us at intern@ecelldtu.in
<br>
For any feedback email developer at umang@ecelldtu.in / <a href="http://fb.com/umang350">Visit Facebook Page of Developer</a>
</div>