{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <h1 style="color: white">Current Users/Company:</h1>
  
  <table class="table table-dark table-stripped">
    <tr>
      <th>ID </th>
      <th>Name</th>
      <th>Mobile No</th>
      <th>Email</th>
      <th>Username</th>
      <th>Company</th>
      <th>Email Confirm</th>
    </tr>
    {% for article in articles %}
    <tr>
      <td>{{article.id}}</td>
      <td>{{article.name}}</td>
      <td>{{article.mobile}}</td>
      <td>{{article.email}}</td>
      <td>{{article.username}}</td>
      <td>{{article.isadmin}}</td>
      <td>{{article.email_confirmed}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

