{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <h1 style="color: white">Current Tickets:<span>&nbsp;</span><a href="/search" class="btn btn-success btn-lg">Search Tickets</a></h1>

  
  <table class="table table-dark table-stripped">
    <tr>
      <th>ID </th>
      <th>Name</th>
      <th>Mobile No</th>
      <th>Email</th>
      <th>Paid</th>
      <th>Balance</th>
      <th>Seller</th>
    </tr>
    {% for article in articles %}
    <tr>
      <td>{{article.id}}</td>
      <td>{{article.name}}</td>
      <td>{{article.mobile}}</td>
      <td>{{article.email}}</td>
      <td>{{article.paid}}</td>
      <td>{{article.balance}}</td>
      <td>{{article.seller}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

